<div class="mt-12">
  <div class="p-4">
    <h2 class="font-bold px-2 uppercase color-primary mt-4 mb-12">LISTE DES FICHIERS Générés</h2>

    <div class="relative overflow-x-auto shadow-2xl sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Nom</th>
            <th scope="col" class="px-6 py-3">Projet</th>
            <th scope="col" class="px-6 py-3">Type</th>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Téléchargement</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">ESTDSPEF</th>
            <td class="px-6 py-4">BAM</td>
            <td class="px-6 py-4">ESPF</td>
            <td class="px-6 py-4">2024-05-25</td>
            <td class="px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                <i class="fas fa-download"></i>
              </a>
            </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">ESTDNOEC</th>
            <td class="px-6 py-4">CEMAC</td>
            <td class="px-6 py-4">ESTD</td>
            <td class="px-6 py-4">2024-05-20</td>
            <td class="px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                <i class="fas fa-download"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
