<div class="flex-col">

  <button
    class="uppercase text-sm font-semibold text-primary right-0 tracking-wide  bg-white border-2 border-primary text-gray-100 p-3 rounded focus:outline-none focus:shadow-outline"
    type="button"
      >
      <i class="fa-solid fa-circle-plus mr-2"></i>
    Ajouter
  </button>

<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-4">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 upercase py-3">Libellé</th>
      <th scope="col" class="px-6 upercase py-3">Nom prénom / ou raison de l'assuré</th>
      <th scope="col" class="px-6 uppercase py-3">Pourcentage de l'assuré</th>
      <th scope="col" class="px-6 uppercase py-3">Type de perception</th>

    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <!-- <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        FTSCON
      </td>
      <td class="px-6 py-4">1</td>
      <td class="px-6 py-4">0.1</td>
      <td class="px-6 py-4">cache</td>
      <td class="px-6 py-4">undefined</td>
      <td class="px-6 py-4">[0-250]</td> -->

    </tr>

  </tbody>
</table>

</div>
