openapi: 3.0.1
info:
  title: Instruction credit API
  version: 1.1.10
servers:
  - url: http://instructioncredit.abb
    description: Generated server url
paths:
  /api/studyratios/save:
    post:
      tags:
        - studyratios-resource
      operationId: saveStudyratios
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestStudyratiosDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStudyratiosDto'
  /api/studyratios/getonebycoborrower:
    post:
      tags:
        - studyratios-resource
      operationId: getoneStudyratiosByCoborrower
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestStudyratiosDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStudyratiosDto'
  /api/studyratios/getone:
    post:
      tags:
        - studyratios-resource
      operationId: getoneStudyratios
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestStudyratiosDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStudyratiosDto'
  /api/solvabilitecip/save:
    post:
      tags:
        - solvabilite-cip-resource
      operationId: saveSolvabiliteCIP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSolvabiliteCIPDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSolvabiliteCIPDto'
  /api/solvabilitecip/getone:
    post:
      tags:
        - solvabilite-cip-resource
      operationId: getSolvabiliteCIP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSolvabiliteCIPDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectSolvabiliteCIPDto'
  /api/solvabilitecip/getoneByCoborrower:
    post:
      tags:
        - solvabilite-cip-resource
      operationId: getSolvabiliteCIPByCoborrower
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSolvabiliteCIPDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectSolvabiliteCIPDto'
  /api/prospect/getone:
    post:
      tags:
        - prospect-resource
      operationId: getProspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetProspectDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseProspectResponse'
  /api/prospect/getClientRef:
    post:
      tags:
        - prospect-resource
      operationId: getClientReferential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestClientRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseClientResponse'
  /api/prospect/findone:
    post:
      tags:
        - prospect-resource
      operationId: findProspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindProspectDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseProspectResponse'
  /api/ppr/simulate:
    post:
      tags:
        - ppr-resource
      operationId: simulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestPprSimulatorDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBigDecimal'
  /api/ppr/search:
    post:
      tags:
        - ppr-resource
      operationId: searchPPRRequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOSearchPPRDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectPprLoanDto'
  /api/ppr/search-folder:
    post:
      tags:
        - ppr-resource
      operationId: searchPprFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestPprSearchDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/ppr/save:
    post:
      tags:
        - ppr-resource
      operationId: savePpr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestPprLoanDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/ppr/reservation/send:
    post:
      tags:
        - ppr-resource
      operationId: sendReservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/ppr/print/evcc:
    post:
      tags:
        - ppr-resource
      operationId: pritnEVCC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseFileDto'
  /api/ppr/kpi:
    post:
      tags:
        - ppr-resource
      operationId: pprKpi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestVoid'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprKpiDto'
  /api/ppr/getone:
    post:
      tags:
        - ppr-resource
      operationId: getPpr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestPprLoanDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/ppr/find-by-id:
    post:
      tags:
        - ppr-resource
      operationId: findByIdPrr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestPprLoanDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/ppr/confirmation/send:
    post:
      tags:
        - ppr-resource
      operationId: sendConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/ppr/cancel:
    post:
      tags:
        - ppr-resource
      operationId: sendannulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/ppr/build-and-get:
    post:
      tags:
        - ppr-resource
      operationId: buildAndFindPpr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePprDetailDto'
  /api/notary/list:
    post:
      tags:
        - notary-resource
      operationId: getNotaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestNotaryDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectNotaryDto'
  /api/incomedebt/save:
    post:
      tags:
        - incomedebt-resource
      operationId: saveIncomedebt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestIncomedebtDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseIncomedebtDto'
  /api/incomedebt/getone:
    post:
      tags:
        - incomedebt-resource
      operationId: getIncomedebt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestIncomedebtDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseIncomedebtDto'
  /api/incomedebt/getoneByCoborrower:
    post:
      tags:
        - incomedebt-resource
      operationId: getIncomedebtByCoborrower
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestIncomedebtDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseIncomedebtDto'
  /api/editique-data/load:
    post:
      tags:
        - editique-data-resource
      operationId: loadDataFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEditiqueModelRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEditiqueModelDto'
  /api/editique-data/list:
    post:
      tags:
        - editique-data-resource
      operationId: getlistEditiqueCredit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEditiqueCreditDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectEditiqueCreditDto'
  /api/dictionary/search:
    post:
      tags:
        - dictionary-resource
      operationId: listDictionaries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTODictionaryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectDictionaryDTO'
  /api/dictionary/save:
    post:
      tags:
        - dictionary-resource
      operationId: saveDictionary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestDictionaryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDictionaryDTO'
  /api/dictionary/load:
    post:
      tags:
        - dictionary-resource
      operationId: listRawClass
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestDictionaryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectDictionaryDTO'
  /api/dictionary/lists:
    post:
      tags:
        - dictionary-resource
      operationId: listsByClass
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestListDictionaryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectDictionaryClassDTO'
  /api/dictionary/list:
    post:
      tags:
        - dictionary-resource
      operationId: listByClass
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestDictionaryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectDictionaryDTO'
  /api/dictionary/findOne:
    post:
      tags:
        - dictionary-resource
      operationId: getOneDictionary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestDictionaryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDictionaryDTO'
  /api/dictionary/class/search:
    post:
      tags:
        - dictionary-resource
      operationId: listPeageable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOClassDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectClassDTO'
  /api/dictionary/class/save:
    post:
      tags:
        - dictionary-resource
      operationId: saveClass
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestClassDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseClassDTO'
  /api/dictionary/cache-reload:
    post:
      tags:
        - dictionary-resource
      operationId: cacheReload
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
  /api/customer/update/{blfilerequestId}:
    post:
      tags:
        - customer-resource
      operationId: updateCustomer
      parameters:
        - name: blfilerequestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestUpdateCustomerDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomerResponse'
  /api/customer/get-customer-custid:
    post:
      tags:
        - customer-resource
      operationId: getCustomerByCustid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestLong'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomerResponse'
  /api/customer/findCustomer:
    post:
      tags:
        - customer-resource
      operationId: findCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestClientRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseClientResponse'
  /api/crb/searchinfo:
    post:
      tags:
        - crb-resource
      operationId: searchinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestCrbRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCrbResponseDto'
  /api/conventionDoc/list:
    post:
      tags:
        - convention-doc-resource
      operationId: listConventions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestConventionDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectConventionDocDto'
  /api/clienttypedoc/search:
    post:
      tags:
        - client-type-doc-resource
      operationId: getClientTypeDocsDto
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOClientTypeDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectClientTypeDocDto'
  /api/city/list:
    post:
      tags:
        - city-resource
      operationId: findAllCities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestCityDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectCityDto'
  /api/city/getone:
    post:
      tags:
        - city-resource
      operationId: getcity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestCityDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCityDto'
  /api/ccg/build-and-get:
    post:
      tags:
        - ccg-resource
      operationId: buildAndFindCcg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCcgLoanDetails'
  /api/calculate/loancost:
    post:
      tags:
        - loan-cost-resources
      operationId: calculateLoaneCost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestCalculateLoanCostDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCalculateLoanCostResponse'
  /api/bpm/ppr/reservation/send:
    post:
      tags:
        - ppr-bpm-resource
      operationId: sendPprReservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bpm/ppr/confirmation/send:
    post:
      tags:
        - ppr-bpm-resource
      operationId: sendPprConfirmation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bpm/ppr/cancel:
    post:
      tags:
        - ppr-bpm-resource
      operationId: sendPprAnnulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bpm/loan-instruction-file/status-update:
    post:
      tags:
        - dossier-instruction-resource
      operationId: launchCreGeneration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestCreGenerateDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bpm/loan-instruction-file/research:
    post:
      tags:
        - dossier-instruction-resource
      operationId: findModelPivotIc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLoanPivot'
  /api/bpm/loan-instruction-file/reject-demand:
    post:
      tags:
        - dossier-instruction-resource
      operationId: rejectDemand
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestRejectBpmDemandDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bpm/loan-instruction-file/create-loan:
    post:
      tags:
        - dossier-instruction-resource
      operationId: createLoanLs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bpm/ccg/listener:
    post:
      tags:
        - ccg-bpm-resource
      operationId: listenerBpmHandler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CcglistenerBpmDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bltypeseg/getone:
    post:
      tags:
        - bl-type-seg-resource
      operationId: getOneBLTypeSeg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeSegDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeSegDto'
  /api/bltypereason/save:
    post:
      tags:
        - bl-type-reason-resource
      operationId: saveBLTypeReaso
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeReasonDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeReasonDto'
  /api/bltypereason/list:
    post:
      tags:
        - bl-type-reason-resource
      operationId: findAllBLTypeReasons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeReasonDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBLTypeReasonDto'
  /api/bltypereason/getone:
    post:
      tags:
        - bl-type-reason-resource
      operationId: getOneBlreason
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeReasonDto'
  /api/bltypereason/findone:
    post:
      tags:
        - bl-type-reason-resource
      operationId: findOneBltypereason
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeReasonDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeReasonDto'
  /api/bltypereason/delete:
    post:
      tags:
        - bl-type-reason-resource
      operationId: deleteSegment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bltypeins/search:
    post:
      tags:
        - bl-type-ins-resource
      operationId: searchBLTypeIns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOBLTypeInsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeInsDto'
  /api/bltypeins/save:
    post:
      tags:
        - bl-type-ins-resource
      operationId: saveBLTypeIns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeInsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeInsDto'
  /api/bltypeins/list:
    post:
      tags:
        - bl-type-ins-resource
      operationId: findAllBLTypeIns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeInsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeInsDto'
  /api/bltypeins/getone:
    post:
      tags:
        - bl-type-ins-resource
      operationId: getBlinsOne
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeInsDto'
  /api/bltypegar/search:
    post:
      tags:
        - bl-type-gar-resource
      operationId: searchBLTypeGarant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOBLTypeGarDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeGarDto'
  /api/bltypegar/save:
    post:
      tags:
        - bl-type-gar-resource
      operationId: saveBLTypeGarant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeGarDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeGarDto'
  /api/bltypegar/list:
    post:
      tags:
        - bl-type-gar-resource
      operationId: findAllBLTypeGarants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeGarDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeGarDto'
  /api/bltypegar/getone:
    post:
      tags:
        - bl-type-gar-resource
      operationId: getGarantOne
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeGarDto'
  /api/bltypegar/delete:
    post:
      tags:
        - bl-type-gar-resource
      operationId: deleteBlTypeCol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bltypefee/search:
    post:
      tags:
        - bl-type-fee-resource
      operationId: searchBlFees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOBLTypeFeeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeFeeDto'
  /api/bltypefee/getone:
    post:
      tags:
        - bl-type-fee-resource
      operationId: getOneBlfee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetDetailBLTypeFeeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeFeeDto'
  /api/bltypedoc/search:
    post:
      tags:
        - bl-type-doc-resource
      operationId: searchBLTypeDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOBLTypeDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeDocDto'
  /api/bltypedoc/save:
    post:
      tags:
        - bl-type-doc-resource
      operationId: saveBLTypeDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeDocDto'
  /api/bltypedoc/list:
    post:
      tags:
        - bl-type-doc-resource
      operationId: findAllTypeDocs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeDocDto'
  /api/bltypedoc/getone:
    post:
      tags:
        - bl-type-doc-resource
      operationId: getOneBlDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeDocDto'
  /api/bltypedoc/delete:
    post:
      tags:
        - bl-type-doc-resource
      operationId: deleteBldoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeDocDto'
  /api/bltypeact/search:
    post:
      tags:
        - bl-type-act-resource
      operationId: searchBLTypeAct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOBLTypeActDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeActDto'
  /api/bltypeact/save:
    post:
      tags:
        - bl-type-act-resource
      operationId: saveBLTypeAct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeActDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeActDto'
  /api/bltypeact/list:
    post:
      tags:
        - bl-type-act-resource
      operationId: findAllTypeActs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeActDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeActDto'
  /api/bltypeact/getone:
    post:
      tags:
        - bl-type-act-resource
      operationId: getOneAct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeActDto'
  /api/bltype/search:
    post:
      tags:
        - bl-type-resource
      operationId: searchproducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOSearchBltypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeDto'
  /api/bltype/save:
    post:
      tags:
        - bl-type-resource
      operationId: saveBLType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeDto'
  /api/bltype/matrix-tarif:
    post:
      tags:
        - bl-type-resource
      operationId: loadMatrixTarifs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityCodeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBLTypeTarifInterestsDto'
  /api/bltype/list:
    post:
      tags:
        - bl-type-resource
      operationId: findAllProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchBltypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLTypeDto'
  /api/bltype/isCCG:
    post:
      tags:
        - bl-type-resource
      operationId: isCCG
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityCodeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bltype/getone:
    post:
      tags:
        - bl-type-resource
      operationId: getOneDetailsPdct
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestDetailBltypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReponseDetailBLTypeDto'
  /api/bltype/findPorductData:
    post:
      tags:
        - bl-type-resource
      operationId: findPorductData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityCodeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLTypeDto'
  /api/bltype/eligibleList:
    post:
      tags:
        - bl-type-resource
      operationId: eligibleList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBltypeEligibleDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBLTypeDto'
  /api/bltype-codification-matrix/search:
    post:
      tags:
        - bl-type-codification-matrix-resource
      operationId: searchBLTypeCodificationMatrixDto
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLTypeCodificationMatrixDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBLTypeCodificationMatrixDto'
  /api/blsuretyinfo/save:
    post:
      tags:
        - blsuretyinfo-resource
      operationId: saveBlsuretyinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlsuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlsuretyinfoDto'
  /api/blsuretyinfo/list:
    post:
      tags:
        - blsuretyinfo-resource
      operationId: getBlsuretyinfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlsuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlsuretyinfoDto'
  /api/blsuretyinfo/getone:
    post:
      tags:
        - blsuretyinfo-resource
      operationId: getBlsuretyinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlsuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlsuretyinfoDto'
  /api/blspouseinfo/save:
    post:
      tags:
        - blspouseinfo-resource
      operationId: saveBlspouseinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlspouseinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlspouseinfoDto'
  /api/blspouseinfo/getone:
    post:
      tags:
        - blspouseinfo-resource
      operationId: getoneBlspouseinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlspouseinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlspouseinfoDto'
  /api/blsolidaritysuretyinfo/save:
    post:
      tags:
        - blsolidaritysuretyinfo-resource
      operationId: saveBlsolidarity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlsolidaritysuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlsolidaritysuretyinfoDto'
  /api/blsolidaritysuretyinfo/list:
    post:
      tags:
        - blsolidaritysuretyinfo-resource
      operationId: getBlsolidaritysuretyinfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlsolidaritysuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlsolidaritysuretyinfoDto'
  /api/blsolidaritysuretyinfo/getone:
    post:
      tags:
        - blsolidaritysuretyinfo-resource
      operationId: getBlsolidaritysuretyinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlsolidaritysuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlsolidaritysuretyinfoDto'
  /api/blpersosuretyinfo/save:
    post:
      tags:
        - blpersosuretyinfo-resource
      operationId: savePersosuretyinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlpersosuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlpersosuretyinfoDto'
  /api/blpersosuretyinfo/list:
    post:
      tags:
        - blpersosuretyinfo-resource
      operationId: getBlpersosuretyinfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlpersosuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlpersosuretyinfoDto'
  /api/blpersosuretyinfo/getone:
    post:
      tags:
        - blpersosuretyinfo-resource
      operationId: getOneBlpersosuretyinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlpersosuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlpersosuretyinfoDto'
  /api/blmortgagesuretyinfo/save:
    post:
      tags:
        - blmortgagesuretyinfo-resource
      operationId: saveMortgagesuretyinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlmortgagesuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlmortgagesuretyinfoDto'
  /api/blmortgagesuretyinfo/list:
    post:
      tags:
        - blmortgagesuretyinfo-resource
      operationId: getBlmortgagesuretyinfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlmortgagesuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlmortgagesuretyinfoDto'
  /api/blmortgagesuretyinfo/getone:
    post:
      tags:
        - blmortgagesuretyinfo-resource
      operationId: getBlmortgagesuretyinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlmortgagesuretyinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlmortgagesuretyinfoDto'
  /api/blfileschedule/search:
    post:
      tags:
        - blfileschedule-resource
      operationId: getAllBlfileschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOGetAllBlfilescheduleDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilescheduleDto'
  /api/blfileschedule/list:
    post:
      tags:
        - blfileschedule-resource
      operationId: getListBlfileschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetAllBlfilescheduleDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilescheduleDto'
  /api/blfileschedule/getschedule:
    post:
      tags:
        - blfileschedule-resource
      operationId: getScheduleLoan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetBlfilescheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilescheduleDto'
  /api/blfileschedule/getone:
    post:
      tags:
        - blfileschedule-resource
      operationId: getBlfileschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetBlfilescheduleDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilescheduleDto'
  /api/blfilerequesttotalcommitmentcc/save:
    post:
      tags:
        - blfilerequesttotalcommitmentcc-resource
      operationId: saveTotalcommitmentcc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequesttotalcommitmentccDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequesttotalcommitmentccDto'
  /api/blfilerequesttotalcommitmentcc/getone:
    post:
      tags:
        - blfilerequesttotalcommitmentcc-resource
      operationId: getOneTotalcommitmentcc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequesttotalcommitmentccDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequesttotalcommitmentccDto'
  /api/blfilerequestschedule/list:
    post:
      tags:
        - blfilerequestschedule-resource
      operationId: getAllBlfilesrequestschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestscheduleRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestscheduleResponse'
  /api/blfilerequestschedule/getschedule:
    post:
      tags:
        - blfilerequestschedule-resource
      operationId: getScheduleDemand
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetBlfilerequestscheduleDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestscheduleResponse'
  /api/blfilerequestschedule/getone:
    post:
      tags:
        - blfilerequestschedule-resource
      operationId: getBlfilerequestschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestscheduleDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestscheduleResponse'
  /api/blfilerequestrequesttype/save:
    post:
      tags:
        - blfilerequestrequesttype-resource
      operationId: saveRequesttype
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestrequesttypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestrequesttypeDto'
  /api/blfilerequestrequesttype/getone:
    post:
      tags:
        - blfilerequestrequesttype-resource
      operationId: getOneRequesttype
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestrequesttypeDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestrequesttypeDto'
  /api/blfilerequestreceiverfunds/save:
    post:
      tags:
        - blfilerequest-receiver-funds-resource
      operationId: saveBlfilerequestReceiverFunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestReceiverFundsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestReceiverFundsDto'
  /api/blfilerequestreceiverfunds/list:
    post:
      tags:
        - blfilerequest-receiver-funds-resource
      operationId: getBlfilerequestReceiverFunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestReceiverFundsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestReceiverFundsDto'
  /api/blfilerequestreceiverfunds/getone:
    post:
      tags:
        - blfilerequest-receiver-funds-resource
      operationId: getOneBlfilerequestReceiverFunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestReceiverFundsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestReceiverFundsDto'
  /api/blfilerequestpayer/save:
    post:
      tags:
        - blfilerequest-payer-resource
      operationId: saveBlfilerequestPayer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestPayerDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestPayerDto'
  /api/blfilerequestpayer/list:
    post:
      tags:
        - blfilerequest-payer-resource
      operationId: getBlfilerequestPayers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestPayerDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestPayerDto'
  /api/blfilerequestpayer/getone:
    post:
      tags:
        - blfilerequest-payer-resource
      operationId: getOneBlfilerequestPayer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestPayerDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestPayerDto'
  /api/blfilerequestnotaryinfo/save:
    post:
      tags:
        - blfilerequestnotaryinfo-resource
      operationId: saveBlfilerequestnotaryinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestnotaryinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestnotaryinfoDto'
  /api/blfilerequestnotaryinfo/getone:
    post:
      tags:
        - blfilerequestnotaryinfo-resource
      operationId: getOneBlfilerequestnotaryinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestnotaryinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestnotaryinfoDto'
  /api/blfilerequestmultiinstalments/save:
    post:
      tags:
        - blfilerequestmultiinstalments-resource
      operationId: saveBlfilerequestmultiinstalments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestmultiinstalmentsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestmultiinstalmentsDto'
  /api/blfilerequestmultiinstalments/list:
    post:
      tags:
        - blfilerequestmultiinstalments-resource
      operationId: getlistBlfilerequestmultiinstalments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestmultiinstalmentsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestmultiinstalmentsDto'
  /api/blfilerequestmultiinstalments/getone:
    post:
      tags:
        - blfilerequestmultiinstalments-resource
      operationId: getOneBlfilerequestmultiinstalments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestmultiinstalmentsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestmultiinstalmentsDto'
  /api/blfilerequestins/save:
    post:
      tags:
        - blfilerequest-ins-resource
      operationId: saveBlfilerequestIns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestInsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestInsDto'
  /api/blfilerequestins/list:
    post:
      tags:
        - blfilerequest-ins-resource
      operationId: findAllBlfilerequestIns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestInsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestInsDto'
  /api/blfilerequestins/getone:
    post:
      tags:
        - blfilerequest-ins-resource
      operationId: getOneBlfilerequestIns
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestInsDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestInsDto'
  /api/blfilerequestimc/save:
    post:
      tags:
        - blfilerequest-imc-resource
      operationId: saveBlfilerequestIMC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestIMCDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestIMCDto'
  /api/blfilerequestimc/getone:
    post:
      tags:
        - blfilerequest-imc-resource
      operationId: getOneBlfilerequestIMC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestIMCDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestIMCDto'
  /api/blfilerequestfinancedproperty/save:
    post:
      tags:
        - blfilerequestfinancedproperty-resource
      operationId: saveBlfilerequestfinancedproperty
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestfinancedpropertyDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestfinancedpropertyDto'
  /api/blfilerequestfinancedproperty/maxriskexceeded:
    post:
      tags:
        - blfilerequestfinancedproperty-resource
      operationId: maxriskexceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestMaxRiskExceedRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/blfilerequestfinancedproperty/list:
    post:
      tags:
        - blfilerequestfinancedproperty-resource
      operationId: getlistBlfilerequestfinancedproperty
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestfinancedpropertyDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestfinancedpropertyDto'
  /api/blfilerequestfinancedproperty/getone:
    post:
      tags:
        - blfilerequestfinancedproperty-resource
      operationId: getOneBlfilerequestfinancedproperty
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestfinancedpropertyDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestfinancedpropertyDto'
  /api/blfilerequestdoc/save:
    post:
      tags:
        - bl-file-request-doc-resources
      operationId: createBlfilerequestDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestCreateBLFilerequestDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLFilerequestDocDto'
  /api/blfilerequestdoc/saveDoc:
    post:
      tags:
        - bl-file-request-doc-resources
      operationId: saveBlfilerequestDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSaveBLFilerequestDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseObject'
  /api/blfilerequestdoc/list:
    post:
      tags:
        - bl-file-request-doc-resources
      operationId: getAllBlfilerequestsDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLFilerequestDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLFilerequestDocDto'
  /api/blfilerequestconsolidatedfile/save:
    post:
      tags:
        - blfilerequestconsolidatedfile-resource
      operationId: saveConsolidatedfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestconsolidatedfileDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestconsolidatedfileDto'
  /api/blfilerequestconsolidatedfile/getone:
    post:
      tags:
        - blfilerequestconsolidatedfile-resource
      operationId: getOneConsolidatedfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestconsolidatedfileDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestconsolidatedfileDto'
  /api/blfilerequestconsolidatedfile/getall:
    post:
      tags:
        - blfilerequestconsolidatedfile-resource
      operationId: getListConsolidatedfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestconsolidatedfileDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestconsolidatedfileDto'
  /api/blfilerequestadditional/uploaddoc:
    post:
      tags:
        - blfilerequest-additionaldoc-resource
      operationId: persistAdditionnalDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestAdditionaldocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestAdditionaldocDto'
  /api/blfilerequestadditional/remove:
    post:
      tags:
        - blfilerequest-additionaldoc-resource
      operationId: deleteDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestAdditionaldocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/blfilerequestadditional/list:
    post:
      tags:
        - blfilerequest-additionaldoc-resource
      operationId: listDocuments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBlfilerequestAdditionaldocDto'
  /api/blfilerequestadditional/download:
    post:
      tags:
        - blfilerequest-additionaldoc-resource
      operationId: downloadDoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestAdditionaldocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestAdditionaldocDto'
  /api/blfilerequestOutstandingcredit/save:
    post:
      tags:
        - blfilerequest-outstandingcredit-resource
      operationId: saveOutstandingcredit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestOutstandingcreditDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestOutstandingcreditDto'
  /api/blfilerequestOutstandingcredit/getone:
    post:
      tags:
        - blfilerequest-outstandingcredit-resource
      operationId: getOneBlfilerequestoutstandingcredit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestOutstandingcreditDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlfilerequestOutstandingcreditDto'
  /api/blfilerequestOutstandingcredit/getall:
    post:
      tags:
        - blfilerequest-outstandingcredit-resource
      operationId: getListOutstandingcredit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestOutstandingcreditDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestOutstandingcreditDto'
  /api/blfilerequestOutstandingcredit/getallByCoborrower:
    post:
      tags:
        - blfilerequest-outstandingcredit-resource
      operationId: getListOutstandingcreditByCoborrower
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestOutstandingcreditDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlfilerequestOutstandingcreditDto'
  /api/blfilerequest/validinstruction:
    post:
      tags:
        - blfilerequest-resource
      operationId: validinstruction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/blfilerequest/study:
    post:
      tags:
        - blfilerequest-resource
      operationId: updateDamandStudyManager
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestConfirmDemandDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLong'
  /api/blfilerequest/search:
    post:
      tags:
        - blfilerequest-resource
      operationId: getAllBlFilerequests
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOGetAllBlfilerequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectGetAllBlFilesResponseDto'
  /api/blfilerequest/save-simulation:
    post:
      tags:
        - blfilerequest-resource
      operationId: saveSimulationRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestCustomerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLoanRequestSaveResponse'
  /api/blfilerequest/research:
    post:
      tags:
        - blfilerequest-resource
      operationId: researchLoanFileRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLoanPivot'
  /api/blfilerequest/medicalvisit:
    post:
      tags:
        - blfilerequest-resource
      operationId: medicalvisit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/blfilerequest/getone:
    post:
      tags:
        - blfilerequest-resource
      operationId: getBlFilerequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetBlFileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGetBlfilerequestDto'
  /api/blfilerequest/docs-simulation:
    post:
      tags:
        - blfilerequest-resource
      operationId: getDocumentListOfLoanSimulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlfilerequestSimulationDocDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBLTypeDocDto'
  /api/blfilerequest/date-echeance:
    post:
      tags:
        - blfilerequest-resource
      operationId: fixDateEcheance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestEntityIdDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLong'
  /api/blfilerequest/confirm:
    post:
      tags:
        - blfilerequest-resource
      operationId: confirmDemand
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestConfirmDemandDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLong'
  /api/blfilerequest/authorization:
    post:
      tags:
        - blfilerequest-resource
      operationId: updateDamandAuthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestConfirmDemandDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseLong'
  /api/blfile/search:
    post:
      tags:
        - bl-file-resource
      operationId: getAllBlFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOGetBlFile'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectGetBlFileResponse'
  /api/blfile/searchContractsLS:
    post:
      tags:
        - bl-file-resource
      operationId: searchContractsLS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindProspectDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListSearchContratsItem'
  /api/blfile/readContractLS:
    post:
      tags:
        - bl-file-resource
      operationId: readContractLS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestReadContratRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReadContratResponse'
  /api/blfile/read-ta:
    post:
      tags:
        - bl-file-resource
      operationId: readAmortization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestAmortissementLsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAmortissementLsResponse'
  /api/blfile/list:
    post:
      tags:
        - bl-file-resource
      operationId: getAllBlfiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetBlFile'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectGetBlFileResponse'
  /api/blfile/getone:
    post:
      tags:
        - bl-file-resource
      operationId: getBlfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestGetBlFileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGetBlFileResponseDTO'
  /api/bldatainstrval/save:
    post:
      tags:
        - bldata-instr-val-resource
      operationId: saveValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBldataInstrValSaveDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBldataInstrFieldValueDto'
  /api/bldatainstrval/blfilerequest/list:
    post:
      tags:
        - bldata-instr-val-resource
      operationId: findValues
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBldataInstrFieldValueDto'
  /api/bldatainstrfield/save:
    post:
      tags:
        - bldata-instr-field-resource
      operationId: saveBldataInstrField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBldataInstrFieldDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBldataInstrFieldDto'
  /api/bldatainstrfield/delete:
    post:
      tags:
        - bldata-instr-field-resource
      operationId: deleteField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/bldatainstrfield/bltype/list:
    post:
      tags:
        - bldata-instr-field-resource
      operationId: findAllBldataInstrAllFields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBldataInstrAllFieldDto'
  /api/bldatainstrblock/save:
    post:
      tags:
        - bldata-instrblock-resource
      operationId: saveBlock
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBldataInstrblockDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBldataInstrblockDto'
  /api/bldatainstrblock/list:
    post:
      tags:
        - bldata-instrblock-resource
      operationId: findAllBldataInstrblocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBldataInstrblockDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBldataInstrblockDto'
  /api/bldatainstrblock/delete:
    post:
      tags:
        - bldata-instrblock-resource
      operationId: deleteBlock
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBoolean'
  /api/blconvention/list:
    post:
      tags:
        - bl-convention-resource
      operationId: listAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBlConventionDto'
  /api/blconvention/filter:
    post:
      tags:
        - bl-convention-resource
      operationId: filterConvention
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListBlConventionDto'
  /api/blcollateral/search:
    post:
      tags:
        - bl-collateral-resource
      operationId: searchBLCollateral
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestSearchDTOBLCollateralDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLCollateralDto'
  /api/blcollateral/save:
    post:
      tags:
        - bl-collateral-resource
      operationId: saveBLCollateral
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLCollateralDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLCollateralDto'
  /api/blcollateral/list:
    post:
      tags:
        - bl-collateral-resource
      operationId: findAllBLCollateral
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBLCollateralDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBLCollateralDto'
  /api/blcollateral/getone:
    post:
      tags:
        - bl-collateral-resource
      operationId: getOneCol
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFindObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBLCollateralDto'
  /api/blcoborrowerinfo/save:
    post:
      tags:
        - blcoborrowerinfo-resource
      operationId: saveCobo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlcoborrowerinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlcoborrowerinfoDto'
  /api/blcoborrowerinfo/listclients:
    post:
      tags:
        - blcoborrowerinfo-resource
      operationId: getClientsBlcoborrowerinfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlcoborrowerinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlcoborrowerinfoDto'
  /api/blcoborrowerinfo/list:
    post:
      tags:
        - blcoborrowerinfo-resource
      operationId: getBlcoborrowerinfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlcoborrowerinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseListObjectBlcoborrowerinfoDto'
  /api/blcoborrowerinfo/getone:
    post:
      tags:
        - blcoborrowerinfo-resource
      operationId: getBlcoborrowerinfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestBlcoborrowerinfoDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBlcoborrowerinfoDto'
  /api/exchange-ccg/update-data:
    patch:
      tags:
        - ccg-exchange-resource
      summary: Update CCG info after process
      operationId: updateCcgData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestFluxCcgDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCcgLoanDetails'
  /api/blfilerequestdoc/check/contrat/{blfilerequestId}:
    get:
      tags:
        - bl-file-request-doc-resources
      operationId: checkContratDoc
      parameters:
        - name: blfilerequestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
components:
  schemas:
    ApiRequestStudyratiosDto:
      required:
        - requestID
      type: object
      properties:
        requestID:
          type: string
        userName:
          type: string
        password:
          type: string
        serviceName:
          type: string
        originalApp:
          type: string
        targetApp:
          type: string
        protocol:
          type: string
        canal:
          type: string
        timeStamp:
          type: string
          format: date-time
        body:
          $ref: '#/components/schemas/StudyratiosDto'
    StudyratiosDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        blfilerequestid:
          type: integer
          format: int64
        custid:
          type: integer
          format: int64
        monthlyglobaldebt:
          type: number
          format: double
        monthlyglobalbonusdebt:
          type: number
          format: double
        financingquota:
          type: number
          format: double
        mortgagerisk:
          type: number
          format: double
        coborrowerid:
          type: integer
          format: int64
        global:
          type: boolean
        restincome:
          type: number
          format: double
    ApiResponseStudyratiosDto:
      type: object
      properties:
        body:
          $ref: '#/components/schemas/StudyratiosDto'
        requestID:
          type: string
        serviceName:
          type: string
        protocol:
          type: string
        timeStamp:
          type: string
          format: date-time
        status:
          type: string
        message:
          type: string
        details:
          type: object
    ApiRequestSolvabiliteCIPDto:
      required:
        - requestID
      type: object
      properties:
        requestID:
          type: string
        userName:
          type: string
        password:
          type: string
        serviceName:
          type: string
        originalApp:
          type: string
        targetApp:
          type: string
        protocol:
          type: string
        canal:
          type: string
        timeStamp:
          type: string
          format: date-time
        body:
          $ref: '#/components/schemas/SolvabiliteCIPDto'
    SolvabiliteCIPDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        blfilerequestid:
          type: integer
          format: int64
        custid:
          type: integer
          format: int64
        coborrowerid:
          type: integer
          format: int64
        date:
          type: string
          format: date-time
        amnt:
          type: number
          format: double
    ApiResponseSolvabiliteCIPDto:
      type: object
      properties:
        body:
          $ref: '#/components/schemas/SolvabiliteCIPDto'
        requestID:
          type: string
        serviceName:
          type: string
        protocol:
          type: string
        timeStamp:
          type: string
          format: date-time
        status:
          type: string
        message:
          type: string
        details:
          type: object
    ApiResponseListObjectSolvabiliteCIPDto:
      type: object
      properties:
        body:
          $ref: '#/components/schemas/ListObjectSolvabiliteCIPDto'
        requestID:
          type: string
        serviceName:
          type: string
        protocol:
          type: string
        timeStamp:
          type: string
          format: date-time
        status:
          type: string
        message:
          type: string
        details:
          type: object
    ListObjectSolvabiliteCIPDto:
      type: object
      properties:
        pager:
          $ref: '#/components/schemas/Pager'
        entities:
          type: array
          items:
            $ref: '#/components/schemas/SolvabiliteCIPDto'
    Pager:
      type: object
      properties:
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        last:
          type: boolean
    ApiRequestGetProspectDto:
      required:
        - requestID
      type: object
      properties:
        requestID:
          type: string
        userName:
          type: string
        password:
          type: string
        serviceName:
          type: string
        originalApp:
          type: string
        targetApp:
          type: string
        protocol:
          type: string
        canal:
          type: string
        timeStamp:
          type: string
          format: date-time
        body:
          $ref: '#/components/schemas/GetProspectDto'
    GetProspectDto:
      required:
        - mphone
      type: object
      properties:
        mphone:
          pattern: \d{10}
          type: string
    ApiResponseProspectResponse:
      type: object
      properties:
        body:
          $ref: '#/components/schemas/ProspectResponse'
        requestID:
          type: string
        serviceName:
          type: string
        protocol:
          type: string
        timeStamp:
          type: string
          format: date-time
        status:
          type: string
        message:
          type: string
        details:
          type: object
    ProspectResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
[...]
