<div class="flex flex-wrap">
  <div class="w-full">
    <ul class="flex ml-4 w-1/2 mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
          (click)="toggleTabs(1)"
          [ngClass]="{ 'text-primary bg-white': openTab !== 1, 'text-white bg-primary': openTab === 1 }"
        >
          <i class="fas fa-user text-base mr-1"></i> Client
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
          (click)="toggleTabs(2)"
          [ngClass]="{ 'text-primary bg-white': openTab !== 2, 'text-white bg-primary': openTab === 2 }"
        >
          <i class="fas fa-circle-xmark text-base mr-1"></i> Non Client
        </a>
      </li>
    </ul>
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6">
      <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
          <div *ngIf="openTab === 1">
            <app-client-search (selectedClients)="clientsSelected($event)"></app-client-search>

            <app-client-search-result
              (uniqueClientSelected)="uniqueClientSelected($event)"
              [afterSearch]="afterSearch"
              [clients]="selectedClients"
            ></app-client-search-result>
          </div>
          <div *ngIf="openTab === 2">
            <app-propspect-create
              (uniqueClientSelected)="uniqueClientSelected($event)"
              (confirmationMessage)="recieveMessage($event)"
              [selectedClientRecieved]="selectedClientRecieved"
            ></app-propspect-create>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
