<div>
<div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> conjoint collaborateur
    </label>
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>
  </div>
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> Type de la demande
    </label>
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>
  </div>
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> Client conventionné</label
    >
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>


  </div>
</div>
<div class="mt-4 flex justify-start">

  <button
    class="uppercase text-sm text-bold text-primary right-0 tracking-wide  bg-white border-2 border-primary text-gray-100 p-3 rounded focus:outline-none focus:shadow-outline"
    type="button"
  >
    Trouver la tarification
  </button>
</div>
</div>
