
{{selectedClient | json}}
<div class="grid grid-cols-1 gap-5 md:grid-cols-3 mt-5">
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> Catégorie socioprofessionnelle (*)</label
    >
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>
  </div>
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> Type client
    </label>
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>
  </div>
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> Conjoint</label
    >
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>
  </div>
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> Type de crédit (*)</label
    >
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-pen-to-square text-gray-400 ml-1 mr-2"></i> Capital (*)</label
    >
    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="number"
      placeholder="*"
    />
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-pen-to-square text-gray-400 ml-1 mr-2"></i> périodicite (*)</label
    >
    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="number"
      placeholder="*"
    />
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-pen-to-square text-gray-400 ml-1 mr-2"></i> Dete de première échéance</label
    >
    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="number"
      placeholder="*"
    />
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white">
      <i class="fa-regular fa-calendar-days ml-1 mr-2"></i>Date début d'utilisation</label
    >

    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="date"
      placeholder="*"
    />
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white">
      <i class="fa-regular fa-calendar-days ml-1 mr-2"></i>Date fin d'utilisation</label
    >

    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="date"
      placeholder="*"
    />
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white">
      <i class="fa-solid fa-pen-to-square ml-1 mr-2"></i>taux d'intéret (*)</label
    >

    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="number"
      placeholder="*"
    />
  </div>
  <div>
    <label for="countries" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white"
      ><i class="fa-solid fa-list-check ml-1 mr-2"></i> Compte client</label
    >
    <select
      id="countries"
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
    >
      <option value="A">B</option>
      <option value="B">A</option>
      <option value="C">D</option>
      <option value="D">E</option>
    </select>
  </div>

  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white">
      <i class="fa-solid fa-pen-to-square ml-1 mr-2"></i> type d'amortissement</label
    >
    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="number"
      placeholder="*"
    />
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white">
      <i class="fa-solid fa-pen-to-square ml-1 mr-2"></i> type de taux</label
    >
    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="number"
      placeholder="*"
    />
  </div>
  <div>
    <label for="" class="block mb-2 text-sm uppercase text-gray-900 dark:text-white">
      <i class="fa-solid fa-pen-to-square ml-1 mr-2"></i> durée de la franchise</label
    >
    <input
      class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
      type="number"
      placeholder="*"
    />
  </div>
</div>
